<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="configFragment">
	
		<link rel="shortcut icon" 	th:href="@{/images/favicon.ico}">
	
		<!-- css 파일 import -->
		<link rel="stylesheet" 		th:href="@{/admin/css/sb-admin-2.css}" type="text/css">
		<link rel="stylesheet" 		th:href="@{/admin/css/sb-admin-2.min.css}" type="text/css">
		<link rel="stylesheet" 		th:href="@{/admin/vendor/fontawesome-free/css/all.min.css}" type="text/css">
		<link rel="stylesheet" 		th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}">
		
		<!-- script 파일 import -->
		<script th:src="@{/framework/jquery/jquery-1.12.4.min.js}"></script>
		<script th:src="@{/framework/jquery/jquery-ui.js}"></script>
		<script th:src="@{/framework/jquery/jquery.metadata.js}"></script>
		<script th:src="@{/framework/jquery/jquery.form.min.js}"></script>
		<script th:src="@{/framework/jquery/jquery-modal/jquery.modal.js}"></script>
		<script th:src="@{/framework/jquery/slick.js}"></script>
		<script th:src="@{/framework/jquery/jquery.serialize-object.js}"></script>
		<script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
		
		<script th:src="@{/js/common.js}"></script>
		
	</th:block>

</html>