<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="footerFragment" class="inner_footer">
		<section class="section_service">
			<h2 class="blind">하단 메뉴</h2>
			<div class="wrap_service first_wrap">
				<strong class="tit_service">
					<a th:href="@{/index}">동네맛집</a>
				</strong>
			</div>
			<div class="wrap_service">
				<strong class="tit_service">
					<a th:href="@{/board/boardList}">동네소식</a>
				</strong>
			</div>
			<div class="wrap_service">
				<strong class="tit_service">
					<a th:href="@{/index}">동네장터</a>
				</strong>
			</div>
			<div class="wrap_service">
				<strong class="tit_service">
					<a th:href="@{/board/noticeList}">고객센터</a>
				</strong>
				<ul class="list_service">
					<li>
						<a th:href="@{/board/noticeList}">공지사항</a>
					</li>
					<li>
						<a th:href="@{/index}">자주찾는질문(FAQ)</a>
					</li>
					<li>
						<a th:href="@{/board/qnaList}">1:1문의(Q&A)</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="section_relation">
			<h2 class="blind">서비스 이용정보</h2>
			<div class="group_info">
				<div class="wrap_info">
					<a th:href="@{/index}" class="link_info">시스템 소개</a>
				</div>
				<div class="wrap_info">
					<a th:href="@{/index}" class="link_info">이용약관</a>
				</div>
				<div class="wrap_info">
					<a th:href="@{/index}" class="link_info link_emph">개인정보처리방침</a>
				</div>
				<div class="wrap_info">
					<a th:href="@{/index}" class="link_info">운영정책</a>
				</div>
				<div class="wrap_info">
					<a th:href="@{/index}" class="link_info">Contact Us</a>
				</div>
			</div>
			<small class="txt_copyright">© Wook Corp. All rights reserved.</small>
			<a th:href="@{http://kr.freepik.com/search}" style="font-size: 12px;">UIcons 제작 아이콘</a>
			<a href="https://kr.freepik.com/free-photo/sanghae-jogamdo_1284692.htm#fromView=search&page=2&position=17&uuid=5624fbd5-04e8-41b6-9b76-b8d764a2c9f1" style="font-size: 12px;">작가 evening_tao 출처 Freepik</a>
		</section>
	</div>
</html>