<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<div th:fragment="headerFragment" class="Artc_header" style="min-height: 0px;">
	
		<div class="artc">
	    	<div class="inner">
	        	<h1 class="site-name">
	            	<a th:href="@{/index}" class="link">동네 한 바퀴</a>
	            </h1>
	            <div class="header_area">
	            	<div class="header_menu">
	            		<ul id="gnb">
							<li>
								<a th:href="@{/index}">동네맛집</a>
							</li>
							<li>
								<a th:href="@{/board/boardList}">동네소식</a>
							</li>
							<li>
								<a th:href="@{/index}">동네장터</a>
							</li>
							<li>
								<a th:href="@{/board/noticeList}">고객센터</a>
							</li>
						</ul>
	            	</div>
	            </div>
	            <nav class="nav-mine">
	            	<div style="display:inline-block;" sec:authorize="isAuthenticated()">
	            		<a th:href="@{/user/userMain}" class="" th:text="|${session.user.getUserName()}님|"></a>
	            		<div class="divLogout">
			            	<form method="post" action="/login/logout">
								<button type="submit">로그아웃</button>
							</form>
						</div>
	            	</div>
	            	<div style="display:inline-block;" sec:authorize="!isAuthenticated()">
	            		<a th:href="@{/login/loginView}" class="">로그인</a>
	            	</div>
	            </nav>
	    	</div>
		</div>
		
	</div>
	
</html>