<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/contentsLayout}">
	
	<body layout:fragment="content">
		
		<div class="sub_wrap">
			
			<div class="inner">
				
				<div class="sub_section">
					<div class="blind">
						<input type="hidden" id="boardNumber" th:value="${boardInfo.boardNumber}" />
					</div>
					
					<div id="" class="info-title">
						<h3 th:text="${boardInfo.boardTitle}"></h3>
					</div>
					
					<table class="toy-info-tb">
						<caption>공지사항 조회</caption>
						<colgroup>
							<col style="width: 13.3%;">
							<col style="width: 20%;">
							<col style="width: 13.3%;">
							<col style="width: 20%;">
							<col style="width: 13.3%;">
							<col style="width: 20%;">
						</colgroup>
						<tbody>
							<tr>
								<th>작성자</th>
								<td class="tc">
									<p th:text="${boardInfo.writerId}"></p>
								</td>
								<th>작성일자</th>
								<td class="tc">
									<p th:text="${#temporals.createDate(boardInfo.writeYmd, 'yyyyMMdd')}"></p>
								</td>
								<th>조회수</th>
								<td class="tc">
									<p th:text="${boardInfo.boardViewCnt}"></p>
								</td>
							</tr>
							<tr>
								<td colspan="6">
									<pre th:text="${boardInfo.boardContents}"></pre>
								</td>
							</tr>
						</tbody>
					</table>
					
					<div class="info_bottom">
						<button type="button" id="btnBack" class="" title="목록으로">목록으로</button>
					</div>
				
				</div>
			
			</div>
			
		</div>
		
	</body>
	
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
			$(document).ready(function() {
				wook.app.common.keyEvent();
				
				invokeEvent();
				
			});
			
			function invokeEvent() {
				
				// 목록으로 돌아가기
				$("#btnBack").click(function() {
					window.location.href = '/board/noticeList';
				});
			}
	    </script>
    </th:block>
</html>