<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/contentsLayout}">
	
	<body layout:fragment="content">
		
		<div class="sub_wrap">
			
			<div class="inner">
				
				<div class="sub_section">
					<form id="boardForm" enctype="multipart/form-data">
						<input type="hidden" id="boardNumber" name="boardNumber" th:if="${boardInfo != null}" th:value="${boardInfo.boardNumber}" />
						<input type="hidden" id="boardSection" name="boardSection" th:value="${#numbers.formatInteger(3,2)}" />
					
						<table class="toy-info-tb">
							<caption>질문 관리</caption>
							<colgroup>
								<col style="width: 15%;">
								<col style="width: 85%;">
							</colgroup>
							<tbody>
								<tr>
									<th>질문 제목</th>
									<td>
										<label for="boardTitle" class="blind">제목</label>
										<input type="text" id="boardTitle" name="boardTitle" class="input_text required" th:if="${boardInfo != null}" th:value="${boardInfo.boardTitle}" />
									</td>
								</tr>
								<tr>
									<th>질문 내용</th>
									<td>
										<label for="boardContents" class="blind">내용</label>
										<textarea id="boardContents" name="boardContents" class="required" th:if="${boardInfo != null}" th:text="${boardInfo.boardContents}" ></textarea>
									</td>
								</tr>
								<tr>
									<th>관련 첨부파일</th>
									<td>
										<div id="divBoardFileList" class="div-file-list">
											<ul th:if="${boardFileInfo != null}">
												<li th:attr="data-fileNumber=${boardFileInfo.fileNumber}">
													<span>
														<a th:href="@{#none}" th:onclick="|location.href='@{/common/downloadFile(fileNumber=${boardFileInfo.fileNumber})}'|">
															<img alt="첨부파일" th:src="@{/images/sub/blt_file.gif}">
															<span th:text="${boardFileInfo.fileOrgnName}"></span>
														</a>
														<a th:href="@{#none}" th:onclick="btnDeleteFileEvent.call(this)" title="첨부파일 삭제" class="delete">
															<img alt="첨부파일 삭제" th:src="@{/images/icons/icon_x_mark.png}">
														</a>
													</span>
												</li>
											</ul>
											<ul th:unless="${boardFileInfo != null}">
												<li>등록된 파일이 없습니다.</li>
											</ul>
										</div>
										<div id="divFileList" data-maxcnt="5"></div>
              							<!-- <label class="label_file" for="customFile">파일을 선택해 주세요.</label> -->
              							<!-- <input name="file" type="file" class="" id="customFile" /> -->
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="common_bottom">
							<button type="button" id="btnInsert" class="" title="등록" th:if="${info.pageMode != 'U'}">등록</button>
							<button type="button" id="btnModify" class="" title="수정" th:unless="${info.pageMode != 'U'}">수정</button>
							
							<button type="button" id="btnDelete" class="" title="삭제" th:if="${info.pageMode == 'U'}">삭제</button>
							<button type="button" id="btnBack" class="" title="목록으로">목록으로</button>
						</div>
					
					</form>
				
				</div>
			
			</div>
			
		</div>
		
	</body>
	
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
			var _boardFile = new fileUpload("divFileList", "_boardFile", "boardForm", null, null, "pdf,hwp,hwpx,xls,xlsx");
		
			$(document).ready(function() {
				wook.app.common.keyEvent();
				
				invokeEvent();
			});
			
			function invokeEvent() {
				
				// 목록으로 돌아가기
				$("#btnBack").click(function() {
					window.location.href = '/board/qnaList';
				});
				
				// 질문 입력
				$("#btnInsert").click(function() {
					swal({
						title : "질문 등록",
						text : "질문을 등록하시겠습니까?",
						icon : "info",
						buttons : ["취소", "등록"]
					})
					.then((value) => {
						if(value) {
							insertBoard();
						}
					});
				});
				
				// 질문 수정
				$("#btnModify").click(function() {
					swal({
						title : "질문 수정",
						text : "질문을 수정하시겠습니까?",
						icon : "info",
						buttons : ["취소", "수정"]
					})
					.then((value) => {
						if(value) {
							modifyBoard();
						} 
					});
				});
				
				// 질문 삭제
				$("#btnDelete").click(function() {
					swal({
						title : "질문 삭제",
						text : "질문을 삭제하시겠습니까?",
						icon : "warning",
						buttons : ["취소", "삭제"]
					})
					.then((value) => {
						if(value) {
							deleteBoard();
						}
					});
				});
			}
			
			function insertBoard() {
				if(validationForm()) {
					$("#boardForm").ajaxForm({
						type		: 	"POST",
						dataType 	: 	"json",
						contentType : 	false,
						url 		: 	"/board/insertBoard",
						success 	: 	function(data) {
											if(data.boardNumber != null && data.boardNumber > 0) {
												swal("질문 등록 성공", "질문 등록에 성공하였습니다.", "success")
												.then((value) => {
													window.location.href = '/board/qnaList';
												});
											} else {
												swal("질문 등록 실패", "질문 등록에 실패하였습니다.", "error");
											}
										},
						beforeSend	:	function(XMLHttpRequest, obj) {
											_boardFile.beforeSend(obj);
											XMLHttpRequest.setRequestHeader("AJAX", "Yes");
										},
						error		: 	function(XMLHttpRequest, textStatus, errorThrown){
											if (XMLHttpRequest.status == 403 || XMLHttpRequest.status == 207) {
												
											} else {
												swal("질문 등록 실패", "질문 등록에 실패하였습니다.", "error");
											}
										}
					}).submit();
				} else {
					return false;
				}
			}
			
			function modifyBoard() {
				if(validationForm()) {
					$("#boardForm").ajaxForm({
						type		: 	"POST",
						dataType 	: 	"json",
						contentType : 	false,
						url 		: 	"/board/updateBoard",
						success 	: 	function(data) {
											if(data.boardNumber != null && data.boardNumber > 0) {
												swal("질문 수정 성공", "질문 수정에 성공하였습니다.", "success")
												.then((value) => {
													window.location.href = '/board/qnaList';
												});
											} else {
												swal("질문 수정 실패", "질문 수정에 실패하였습니다.", "error");
											}
										},
						beforeSend	:	function(XMLHttpRequest, obj) {
											_boardFile.beforeSend(obj);
											XMLHttpRequest.setRequestHeader("AJAX", "Yes");
										},
						error		: 	function(XMLHttpRequest, textStatus, errorThrown){
											if (XMLHttpRequest.status == 403 || XMLHttpRequest.status == 207) {
												
											} else {
												swal("질문 수정 실패", "질문 수정에 실패하였습니다.", "error");
											}
										}
					}).submit();
				} else {
					return false;
				}
			}
			
			function deleteBoard() {
				$.ajax({
					type		: 	"POST",
					data		: {
										boardNumber : $("#boardNumber").val()
					},
					dataType 	: 	"json",
					url 		: 	"/board/deleteBoard",
					success 	: 	function(data) {
										if(data.boardNumber != null && data.boardNumber > 0) {
											swal("질문 삭제 성공", "질문 삭제에 성공하였습니다.", "success")
											.then((value) => {
												window.location.href = '/board/qnaList';
											});
										} else {
											swal("질문 삭제 실패", "질문 삭제에 실패하였습니다.", "error");
										}
									},
					beforeSend	:	function(XMLHttpRequest) {
										XMLHttpRequest.setRequestHeader("AJAX", "Yes");
									},
					error		: 	function(XMLHttpRequest, textStatus, errorThrown){
										if (XMLHttpRequest.status == 403 || XMLHttpRequest.status == 207) {
											
										} else {
											swal("질문 삭제 실패", "질문 삭제에 실패하였습니다.", "error");
										}
									}
				});
			}
			
			function validationForm() {
				var inputCheck = true;
				var inputList = $("#boardForm").find(".required");
				
				inputList.each(function (idx, item) {
					if(item.value == null || item.value == '') {
						swal("질문 입력 확인", "항목이 입력되지 않았습니다.", "error");
						inputCheck = false;
						return false;
					}
					
				});
				
				return inputCheck;
			}
	    </script>
    </th:block>
</html>