/* -----------------------------
	로그인 화면 CSS
----------------------------- */
.login_wrap,
.join_wrap,
.findId_wrap,
.resetPw_wrap {
    padding-bottom: 200px;
}

.login_wrap .inner,
.join_wrap .inner,
.findId_wrap .inner,
.resetPw_wrap .inner {
    position: relative;
    width: 400px;
    margin: auto;
}

.login_wrap .inner .login_form,
.join_wrap .inner .join_form,
.findId_wrap .inner .findIdForm,
.resetPw_wrap .inner .findUserForm,
.resetPw_wrap .inner .resetPwForm {
    margin-bottom: 20px;
}

.login_wrap .inner .login_form ul,
.join_wrap .inner .join_form ul,
.findId_wrap .inner .findIdForm ul,
.resetPw_wrap .inner .findUserForm ul,
.resetPw_wrap .inner .resetPwForm ul {
    overflow: hidden;
}

.login_wrap .inner .login_form ul li input,
.findId_wrap .inner .findIdForm ul li input,
.resetPw_wrap .inner .findUserForm ul li input,
.resetPw_wrap .inner .resetPwForm ul li input {
    width: 100%;
}

.login_wrap .inner .login_form ul li:first-child,
.join_wrap .inner .join_form ul li:first-child {
    margin-bottom: 10px;
}

div.divLoginError {
	padding: 10px;
	display: flex;
	align-items: center;
	border: 1.5px solid #fb2a2a59;
	border-radius: 10px;
	background: #fb2a2a59; 
}

/* 
.login_wrap .login_inner .login_form .id_check {
    display: inline-block;
    margin-top: 10px;
    margin-left: 80px;
    font-size: 14px;
    color: #666666;
}

.login_wrap .login_inner .login_form .id_check input {
    margin-right: 10px;
}
 */

.login_wrap .inner .login_util {
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
}

.login_wrap .inner .login_util ul {
    float: right;
    overflow: hidden;
}

.login_wrap .inner .login_util ul li {
    float: left;
    margin-left: 20px;
}

.login_wrap .inner .login_util ul li:not(:first-child) {
    padding-left: 15px;
    border-left: 1px solid #e0e0e0;
}

.login_wrap .inner .login_util ul li a {
    font-size: 14px;
    color: #666666;
}

.login_wrap .inner .login_util ul li .linkJoin {
    font-weight: bold;
}

.login_wrap .login_social ul {
	text-align: center;
}

.login_wrap .login_social ul li {
	display:inline-block;
	margin-right: 20px;
}

.login_wrap .login_social ul li a {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: no-repeat 50%;
	background-size: 100%;
	font-size: 0;
	letter-spacing: 0;
	text-indent: -9999px;
}

.login_wrap .login_social ul li a.btnNaver {
	background-image: url(../images/icons/icon_sns_naver.svg);
	background-repeat: no-repeat;
}

.login_wrap .login_social ul li a.btnKakao {
	background-image: url(../images/icons/icon_sns_kakao.svg);
	background-repeat: no-repeat;
}

.login_wrap .login_social ul li a.btnGoogle {
	background-image: url(../images/icons/icon_sns_google.png);
	background-repeat: no-repeat;
}

/* -----------------------------
	회원가입 화면 CSS
----------------------------- */
.join_wrap .inner .joinInputForm ul li {
	margin-bottom: 20px;
}

.join_wrap .inner .joinInputForm .joinFormAgree label, a {
	font-size: 18px;
}

.join_wrap .inner .joinInputForm .joinFormAgree label {
	cursor: pointer;
}

.join_wrap .inner .joinInputForm .joinFormAgreeeLink {
	display: inline-block;
	position: absolute;
	right: 0;
}

.join_wrap .inner .joinInputForm .joinFormLabelDiv p {
	font-size: 1.5em;
}

.join_wrap .inner .joinInputForm ul li input[type="text"], input[type="password"] {
    width: 100%;
}

.join_wrap .inner .joinInputForm ul li input#inpUserId {
    width: 79%;
}

.join_wrap .inner .joinInputForm ul li input#inpUserPhone {
    width: 74%;
}

.join_wrap .inner .joinInputForm ul li .divRequiredWarn p {
    color: #FF4848;
}

.join_wrap .inner .btnCheckId,
.join_wrap .inner .btnCheckPhone {
	padding: 0;
	font-size: 16px;
	height: 40px;
}

/* -----------------------------
	아이디 찾기 화면 CSS
----------------------------- */
.findId_wrap .inner .findIdForm ul li {
	margin-bottom: 20px;
}

/* -----------------------------
	비밀번호 재설정 화면 CSS
----------------------------- */
.resetPw_wrap .inner .findUserForm ul li,
.resetPw_wrap .inner .resetPwForm ul li {
	margin-bottom: 20px;
}

.resetPw_wrap .inner .resetPwForm .divResetPwLabel p {
	font-size: 1.5em;
}