@charset "UTF-8";
@import url(font.css);
@import url(sub.css);
@import url(login.css);
@import url(common.css);


/* -----------------------------
	클래스별 CSS
----------------------------- */
.clear {
	clear:both;
}

.blind {
	overflow:hidden;
	display:block;
	position:absolute;
	top:-1000em;
}

.nowrap	{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.comment {
	font-size: 13px;
	color: #1aae88;
	padding: 2px 0 0 0px;
	font-weight: bold;
}

.required {
	border : 1px solid #E0E0E0;
}

.input_text {
	font-size: 16px;
	padding:15px 10px;
	border: #E0E0E0;
	border-style: solid;
	border-width: 1px;
	height:40px;
	line-height:22px;
}

.input_box {
	font-size: 16px;
	height: 70px;
	border: #C0C0C0;
	border-style: solid;
	border-width: 1px;
}

.input_list {
	font-size: 16px;
	height: 28px;
	border: #C0C0C0;
	border-style: solid;
	border-width: 1px;
	color: #666666;
}

.input_select {
	font-size: 16px;
	border: #E0E0E0;
	border-style: solid;
	border-width: 1px;
	height:40px;
	line-height:22px;
}

.bold {
	font-weight:bold;
}

/* Shortcut : Float */
.float:after {
	content: "";
	display: block;
	clear: both;
}

.float > * {
	float: left;
}

.float > .right {
	float: right;
}

.inline_block {
	display:inline-block;
}

/* -----------------------------
	Display
----------------------------- */
.dp_block	{ display: block; }
.dp_inline	{ display: inline-block; }
.dp_none	{ display: none; }


/* -----------------------------
	Position&Align
----------------------------- */
.pstn_r		{ position: relative; }
.pstn_a		{ position: absolute; }
.blind		{ display:none; }
.fl_left	{ float:left; clear:both; }
.fl_right	{ float:right; margin-right:0 !important; }
.tl			{ text-align:left !important; }
.tc			{ text-align:center !important; }
.tr			{ text-align:right !important; }


/* -----------------------------
	WidthSize(Percent)
----------------------------- */
.w100p		{ width: 100% !important; }
.w90p		{ width: 90% !important; }
.w80p		{ width: 80% !important; }
.w70p		{ width: 70% !important; }
.w60p		{ width: 60% !important; }
.w50p		{ width: 50% !important; }
.w45p		{ width: 45% !important; }
.w40p		{ width: 40% !important; }
.w30p		{ width: 30% !important; }
.w25p		{ width: 25% !important; }
.w20p		{ width: 20% !important; }
.w10p		{ width: 10% !important; }


/* -----------------------------
	WidthSize(Pixel)
----------------------------- */
.w100 		{ width: 100px !important; }
.w200 		{ width: 200px !important; }
.w300 		{ width: 300px !important; }
.w400 		{ width: 400px !important; }
.w500 		{ width: 500px !important; }


/* -----------------------------
	Margin(Pixel)
----------------------------- */
.mt0 		{ margin-top: 0; }
.mt10 		{ margin-top: 10px; }
.mt15 		{ margin-top: 15px; }
.mt20 		{ margin-top: 20px; }
.mt30 		{ margin-top: 30px; }
.mt40 		{ margin-top: 40px; }
.mt50 		{ margin-top: 50px; }
.mb0 		{ margin-bottom: 0; }
.mb10 		{ margin-bottom: 10px; }
.mb20 		{ margin-bottom: 20px; }
.mb30 		{ margin-bottom: 30px; }
.mb40 		{ margin-bottom: 40px; }
.mb50 		{ margin-bottom: 50px; }
.ml0 		{ margin-left: 0; }
.ml10 		{ margin-left: 10px; }
.ml20 		{ margin-left: 20px; }
.ml30 		{ margin-left: 30px; }
.ml40 		{ margin-left: 40px; }
.ml50 		{ margin-left: 50px; }
.mr0 		{ margin-right: 0; }
.mr10 		{ margin-right: 10px; }
.mr20 		{ margin-right: 20px; }
.mr30 		{ margin-right: 30px; }
.mr40 		{ margin-right: 40px; }
.mr50 		{ margin-right: 50px; }

/* -----------------------------
	Button
----------------------------- */
.btn_common {
	font-size: 20px;
    width: 100%;
    height: 60px;
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(90deg, #00F190, #00A1FC);
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}

.btn_common_bl {
	font-size: 16px;
    width: 20%;
    height: 40px;
    color: #fff;
    display: inline-block;
    background-color: #00A1FC;
    border-radius: 6px;
    border: none;
}

.btn_common_gr {
	font-size: 16px;
    width: 20%;
    height: 40px;
    color: #fff;
    display: inline-block;
    background-color: #00F190;
    border-radius: 6px;
    border: none;
}


/************************************************************************************************

	LAYOUT

************************************************************************************************/

/* -----------------------------
	HEADER
----------------------------- */
/* tiles_header 관련 */
.Sec_header { 
	z-index: 21;
	position: relative;
}

.Sec_header * {
	font-family: Noto Sans KR, Spoqa Han Sans, Sans-serif;
	font-weight: 400;
	letter-spacing: 0;
}

.Sec_header .artc {
	background-color: #fff;
}

.Sec_header .inner {
	max-width: 1280px;
	margin: 0 auto;
}

/* header 관련 */
.Artc_header .artc { position: relative; z-index: 22; }
.Artc_header .inner { display: flex; padding: 20px 0px; flex-wrap: nowrap; justify-content: space-between; align-items: center; z-index: 2; }

/* header 로고 관련 */
/* 
.Artc_header .site-name { flex: 0 0 auto; margin: 0; }
.Artc_header .site-name .link { overflow: hidden; display: block; width: 140px; height: 70px; margin-left:50px; text-indent: -999px; background: url(../images/header/Logo.png) no-repeat 50%/cover; }
 */
 .Artc_header .site-name a { font-family: "Black Han Sans", sans-serif; font-size: 2.5em; color: #000; }

/* 메인메뉴 관련 */
.Artc_header .header_area { width:850px; }
.Artc_header .header_menu { display: flex; justify-content: center; }
.Artc_header .header_menu ul { list-style:none; }
.Artc_header .header_menu ul li { display:inline-block; padding: 0 65px; color: #000; }
.Artc_header .header_menu ul li a { font-size: 1.5em; font-weight: bold; padding: 10px 0; }
.Artc_header .header_menu ul li a:hover { color: #0da8f2; }


/* 검색바 관련 */
.Artc_header .form-search { margin: 0; padding: 0; display: flex; flex: 1 1 auto; justify-content: flex-end; }
.Artc_header .form-search > div { flex: 1 1 304px; display: flex; justify-content: space-between; flex-grow: 0; min-height: 40px; padding: 0; border-bottom: 2px solid #202429; }
.Artc_header .inpt-search { width: calc(100% - 40px); height: 38px; margin-top: -6px; vertical-align: top; opacity: 1; background-color: transparent; border: 0; border-radius: 0; appearance: none; font-size: 16px; }
.Artc_header .btn-search { position: relative; padding: 0; border: 0; background-size: 100% 100%; cursor: pointer; width: 32px; height: 32px; margin: 0; background-image: url(../images/header/ico-search.svg); vertical-align: top; }

/* 마이페이지 관련 */
/* .Artc_header .btn-mypage { position: relative; background-repeat: no-repeat; background-position: 50%; background-size: 100% 100%; overflow: hidden; text-indent: -999px; background-image: url(../images/header/user.png); display: inline-block; width: 40px; height: 40px; margin-left: 16px; } */
.Artc_header .nav-mine a,
.Artc_header .nav-mine button { color:#000; font-size: 16px; }

.Artc_header .nav-mine a:hover,
.Artc_header .nav-mine button:hover { color:#666; }

.Artc_header .nav-mine .divLogout { display: inline; margin-left: 10px; padding-left: 10px; border-left: 1px solid #000; }
.Artc_header .nav-mine .divLogout form { display: inline-flex; }
.Artc_header .nav-mine .divLogout button { background: none; padding: 0; }



/* -----------------------------
	CONTAINER
----------------------------- */
/* layout */
div.wrap			{ position: relative; margin:0 auto;padding:0; }

/* -----------------------------
	SECTION
----------------------------- */
section	{ min-height: 800px; }


/* -----------------------------
	SECTION > NAV
----------------------------- */
.title_main		{height: 200px; position:relative;}
.title_main	p	{text-align: center; margin-top: 70px; font-size: 3em; font-weight: bold;}


/* -----------------------------
	SECTION > ARTICLE
----------------------------- */
section article	{position: relative; margin:0 auto; width:1280px; height:auto; padding:10px 0 20px; }


/* -----------------------------
	CONTAINER
----------------------------- */
.modal .inner 	{ width: 100%; margin: auto; }


/* -----------------------------
	FOOTER
----------------------------- */
footer	{
	display:block;
}

.footer {
	background-color: #fff;
	border-top: 1px solid #ebebeb;
}

.inner_footer {
	max-width:1280px;
	margin:0 auto;
	padding: 37px 0 48px;
}

.section_service,
.section_relation {
	min-height:0; 
}

.section_service .wrap_service {
	float:left; width: 16.666%;
}

.section_service .first_wrap {
	margin-left:270px;
}

.section_service .tit_service {
	display: block;
}

.section_service .tit_service a {
	font-weight: 700;
	color: black;
	line-height: 20px;
	letter-spacing: -.2px;
}

.section_service .list_service li {
	margin-top: 12px;
}

.section_relation {
	margin-top: 150px;
}

.section_relation .group_info {
	float: left;
	margin-bottom: 10px;
}

.section_relation .wrap_info {
	float: left;
	position: relative;
	line-height: 18px;
}

.section_relation .wrap_info+.wrap_info {
	margin-left:24px;
}

.section_relation .wrap_info .link_info {
	font-size: 12px;
	letter-spacing: -.2px;
	color: #888;
}

.section_relation .wrap_info .link_info.link_emph {
	font-weight: 700;
	color: #333;
}

.section_relation .txt_copyright {
	display: block;
	font-size: 12px;
	color: #888;
	clear: both;
}

/* -----------------------------
      modal
----------------------------- */
.modal-title h4 	{ font-size: 18px; background: url(../images/sub/blit.gif) no-repeat 0 0; padding-left: 30px; color: #222; font-weight: 700; margin-bottom: 20px; clear:both; }
.modal-content		{ padding:2em 0; }
.modal-btn			{ float:right; }
.modal-btn button	{ height: 36px; padding:0 25px; background: #0175d3; font-size: 14px; color: #fff; border-radius:6px; }

/* -----------------------------
	Pagination
----------------------------- */
.pagination {clear:both; position:relative; margin:30px auto 40px 0; padding:0; text-align:center;}
.pagination:last-child {padding-bottom:0;}
.pagination a,
.pagination strong,
.pagination .control {overflow:hidden; display:inline-block; position:relative; min-width:32px; height:32px; margin:0 2px; padding:0 2px; line-height:31px; border:1px solid #fff; text-decoration:none; color:#666; font-weight:400; vertical-align:middle; border-radius:0;}
.pagination .active {color:#2775c4; border-color:#3671c8;}
.pagination a:hover {border-color:#2775c4;}
.pagination .control {overflow:hidden; width:32px; height:32px; min-width:0; padding:0; border:1px solid #ccc; font-size:0; line-height:0; text-indent:-9999px; background:url(../images/page/btn-pagination.png) no-repeat 0 0; }
.pagination .control.disabled {cursor:default;}
.pagination .control.first {margin:0; background-position:0 0;}
.pagination .control.prev {margin:0 6px 0 0; background-position:-30px 0;}
.pagination .control.next {margin:0 0 0 6px; background-position:-60px 0;}
.pagination .control.last {margin:0; background-position:-90px 0;}

/************************************************************************************************

	MAIN CUSTOMS LAYOUT

************************************************************************************************/
.wrap .divBorderBox 										{ border: 1px solid #d2d2d2; border-radius: 15px; height: 300px; }
.wrap .divAdvertisement 									{ border: none; position:relative; height: 350px; background: url(../images/main/img_main_advise.jpg); background-size: cover; display: flex; justify-content: center; align-items: center; }
.wrap .divAdvertisement::before 							{ content: ""; position: absolute; top: 0; left:0; width: 100%; height: 100%; border-radius: 15px; background-color: #000; opacity: 0.3; }
.wrap .divAdvertisement .divAdviseTitle 					{ position:relative; font-weight: bold; color: #FFF; font-size: 2em; }
.wrap .divSmallBox											{ padding: 20px 0; }
.wrap .divSmallBox.divFoodSearch > p						{ background: url(../images/icons/icon_map.svg) no-repeat 0 0; background-size: 100px 38px; clear:both; background-position-x: -30px; }
.wrap .divSmallBox.divFoodList > p							{ background: url(../images/icons/icon_food.svg) no-repeat 0 0; background-size: 100px 38px; clear:both; background-position-x: -30px; }
.wrap .divSmallBox.divFoodList .ulFoodRank 					{ height: 100%; }
.wrap .divSmallBox.divFoodList ul.ulFoodRank li 			{ height: 33.3%; padding: 10px 20px; display: flex; align-items: center; }
.wrap .divSmallBox.divFoodList ul.ulFoodRank li span		{ font-size: 1.2em; margin-left: 10px; }
.wrap .divSmallBox.divPopularPost > p						{ background: url(../images/icons/icon_popular_list.svg) no-repeat 0 0; background-size: 100px 38px; clear:both; background-position-x: -30px; }
.wrap .divSmallBox.divPopularPost ul.ulFloatList li 		{ display: inline-block; }
.wrap .divSmallBox.divPopularPost ul.ulFloatList li div		{ width: 315px; padding: 10px; }
.wrap .divSmallBox.divNoticeList > p						{ background: url(../images/icons/icon_notice.svg) no-repeat 0 0; background-size: 100px 38px; clear:both; background-position-x: -30px; }
.wrap .divSmallBox.divFaqList > p							{ background: url(../images/icons/icon_faq.svg) no-repeat 0 0; background-size: 100px 38px; clear:both; background-position-x: -30px; }
.wrap .divSmallBox.divPhoneBook  > p						{ background: url(../images/icons/icon_phone_book.svg) no-repeat 0 0; background-size: 100px 38px; clear:both; background-position-x: -30px; }
.wrap .divSmallBox p span									{ color: #000; font-size: 2em; font-weight: bold; }
.wrap .divFoodSearch 										{ width: 840px; }
.wrap .divFoodList 											{ width: 400px; }
.wrap .divNoticeList 										{ width: 400px; }
.wrap .divFaqList 											{ width: 400px; }
.wrap .divPhoneBook 										{ width: 400px; }
.wrap div[class$=Info]										{ width: 95%; padding: 10px; display:flex; align-items:center; margin: 10px; position: relative; }
.wrap div[class$=Info] span									{ position: absolute; right: 10px; }