<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/contentsLayout}">
	
	<body layout:fragment="content">
		
		<div class="sub_wrap">
			
			<div class="inner">
				
				<div class="sub_section">
					<form id="userForm">
						<input type="hidden" name="userId" 			th:value="${session.user.getUserId()}" />
						<input type="hidden" name="userPassword" 	/>
					</form>
					
					<table id="tblPasswordReset" class="toy-info-tb">
						<colgroup>
							<col style="width: 15%;">
							<col style="width: 85%;">
						</colgroup>
						<tbody>
							<tr>
								<th>새로운 비밀번호</th>
								<td>
									<label for="inpUserPassword" class="blind">새로운 비밀번호</label>
									<input type="password" id="inpUserPassword" class="input_text required" />
								</td>
							</tr>
							<tr>
								<th>새로운 비밀번호 확인</th>
								<td>
									<label for="inpUserPassword2" class="blind">새로운 비밀번호 확인</label>
									<input type="password" id="inpUserPassword2" class="input_text required" />
								</td>
							</tr>
						</tbody>
					</table>
					
					<div class="common_bottom">
						<button type="button" id="btnReset" class="" title="비밀번호 변경">비밀번호 변경</button>
						<button type="button" id="btnBack" class="" title="마이페이지">마이페이지</button>
					</div>
				
				</div>
			
			</div>
			
		</div>
		
	</body>
	
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
			$(document).ready(function() {
				wook.app.common.keyEvent();
				
				invokeEvent();
				
			});
			
			function invokeEvent() {
				
				// 목록으로 돌아가기
				$("#btnBack").click(function() {
					window.location.href = '/user/userMain';
				});
				
				// 동네 소식 입력
				$("#btnReset").click(function() {
					if(validationForm()) {
						$("#userForm input[name=userPassword]").val($("#inpUserPassword").val());
						
						swal({
							title : "비밀번호 변경",
							text : "비밀번호를 변경하시겠습니까?",
							icon : "info",
							buttons : ["취소", "변경"]
						})
						.then((value) => {
							if(value) {
								resetPassword();
							} 
						});
					}
				});
			}
			
			function resetPassword() {
				$("#userForm").ajaxForm({
					type		: 	"POST",
					dataType 	: 	"json",
					url 		: 	"/user/passwordReset",
					success 	: 	function(data) {
										if(data.resetYn != null && data.resetYn != "false") {
											swal("비밀번호 변경 성공", "비밀번호 변경에 성공하였습니다.", "success")
											.then((value) => {
												window.location.href = '/user/userMain';
											});
										} else {
											swal("비밀번호 변경 실패", "비밀번호 변경에 실패하였습니다.", "error");
										}
									},
					beforeSend	:	function(XMLHttpRequest) {
										XMLHttpRequest.setRequestHeader("AJAX", "Yes");
									},
					error		: 	function(XMLHttpRequest, textStatus, errorThrown){
										if (XMLHttpRequest.status == 403 || XMLHttpRequest.status == 207) {
											
										} else {
											swal("비밀번호 변경 실패", "비밀번호 변경에 실패하였습니다.", "error");
										}
									}
				}).submit();
			}
				
			
			function validationForm() {
				var inputCheck = true;
				var inputList = $("#tblPasswordReset").find(".required");
				
				inputList.each(function (idx, item) {
					if(item.value == null || item.value == '') {
						swal("비밀번호 입력 확인", "항목이 입력되지 않았습니다.", "error");
						inputCheck = false;
						return false;
					}
					
				});
				
				if($("#inpUserPassword").val() != $("#inpUserPassword2").val()) {
					swal("비밀번호 확인", "입력한 비밀번호가 같지 않습니다.", "error");
					inputCheck = false;
				}
				
				return inputCheck;
			}
	    </script>
    </th:block>
</html>