<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/contentsLayout}">
      
	<body layout:fragment="content">
		
		<div class="sub_wrap">
			
			<div class="inner">
				
				<div class="sub_section">
					
					<div class="" style="border:1px solid #555; border-radius: 15px; padding: 10px; position:relative;">
						
						<div class="" style="position: relative; background-repeat: no-repeat; background-position: 50%; background-size: 100% 100%; overflow: hidden; text-indent: -999px; background-image: url(../images/header/user.png); display: inline-block; width: 100px; height: 100px; margin-left: 16px;"></div>
						<span style="font-size: 1.5em; position: absolute; top: 50%; transform: translate(0, -90%); left: 150px;">회원명</span>
						
					</div>
					
					<div>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/adminMain}">관리자 페이지</a>
						<a th:href="@{/user/checkPwView?mode=modify}">회원정보수정</a>
						<a th:href="@{/user/checkPwView?mode=whdwl}">회원탈퇴</a>
					</div>
					
				</div>
			
			</div>
			
		</div>
		
	</body>

</html>