<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/contentsLayout}">
      
	<head>
		<title>Spring Boot - toy(회원가입)</title>
	</head>
	
	<body layout:fragment="content">
		
		<div class="join_wrap">
			<div class="inner">
				<form id='joinForm'>
					<input type="hidden" name="userId" 			value="" />
					<input type="hidden" name="userPassword" 	value="" />
					<input type="hidden" name="userName" 		value="" />
					<input type="hidden" name="userNickname" 	value="" />
					<input type="hidden" name="userBirth" 		value="" />
					<input type="hidden" name="userPhone" 		value="" />
					<input type="hidden" name="userEmail" 		value="" />
				</form>
				<div id="joinInputForm" class="joinInputForm">
					<ul>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>약관동의</b></p>
							</div>
							<div class="joinFormAgree">
								<ul>
									<li>
										<input type="checkbox" id="checkbox_1" class="" />
										<label for="checkbox_1">이용약관</label>
										<div class="joinFormAgreeeLink">
											<a>></a>
										</div>
									</li>
									<li>
										<input type="checkbox" id="checkbox_2" class="" />
										<label for="checkbox_2">개인정보수집 및 이용동의</label>
										<div class="joinFormAgreeeLink">
											<a>></a>
										</div>
									</li>
								</ul>
							</div>
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>사용자ID</b></p>
							</div>
							<label for="inpUserId" class="blind">사용자ID</label>
							<input type="text" id="inpUserId" class="input_text required" placeholder="사용자ID" />
							<input type="hidden" id="idCheckYn" value="N" />
							<button id="btnCheckId" class="btnCheckId w20p">중복확인</button>
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>사용자비밀번호</b><br><span>영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.</span></p>
							</div>
							<label for="inpUserPassword" class="blind">사용자비밀번호</label>
							<input type="password" id="inpUserPassword" class="input_text required" placeholder="사용자비밀번호" />
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>비밀번호 확인</b></p>
							</div>
							<label for="inpUserPassword2" class="blind">사용자비밀번호</label>
							<input type="password" id="inpUserPassword2" class="input_text required" placeholder="비밀번호 확인" />
							<div class="divRequiredWarn" style="display:none;">
								<p>비밀번호 확인을 위해 한번 더 입력하시기 바랍니다.</p>
							</div>
							<div id="passwordCheckMsg" style="display:none;">
								<p></p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>사용자명</b></p>
							</div>
							<label for="inpUserName" class="blind">사용자명</label>
							<input type="text" id="inpUserName" class="input_text required" placeholder="사용자명">
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>닉네임</b></p>
							</div>
							<label for="inpUserNickname" class="blind">닉네임</label>
							<input type="text" id="inpUserNickname" class="input_text required" placeholder="닉네임">
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>생년월일</b></p>
							</div>
							<label for="inpUserBirth" class="blind">생년월일</label>
							<input type="text" id="inpUserBirth" class="input_text required isYmd" placeholder="생년월일">
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>전화번호</b></p>
							</div>
							<label for="inpUserPhone" class="blind">전화번호</label>
							<input type="text" id="inpUserPhone" class="input_text required isMblTelno" placeholder="전화번호">
							<input type="hidden" id="phoneCheckYn" value="N" />
							<button id="btnCheckPhone" class="btnCheckPhone w25p">휴대폰 인증</button>
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
						<li>
							<div class="joinFormLabelDiv">
								<p><b>이메일</b></p>
							</div>
							<label for="inpUserEmail" class="blind">이메일</label>
							<input type="text" id="inpUserEmail" class="input_text required isEngOrNum w50p" placeholder="이메일">
							<span>@</span>
							<select id="inpUserEmail2" name="inpUserEmail2" class="required w45p">
								<option value="naver.com">naver.com</option>
								<option value="daum.net">daum.net</option>
								<option value="gmail.com">gmail.com</option>
								<option value="kakao.com">kakao.com</option>
							</select>
							<div class="divRequiredWarn" style="display:none;">
								<p>필수 입력 항목입니다.</p>
							</div>
						</li>
					</ul>
					<button id="btnJoinSubmit" class="w100p mt10 mb10" type="submit">가입신청</button>
				</div>
			</div>
		</div>
		
	</body>
	
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
			$(document).ready(function() {
				
				wook.app.common.keyEvent();
				invokeEvent();
				
			});
			
			function invokeEvent() {
				
				// 아이디 중복확인
				$("#btnCheckId").click(function() {
					if($("#inpUserId").val() != null && $("#inpUserId").val() != '') {
						$.ajax({
							url  : "/login/checkId",
							data : {
										userId : $("#inpUserId").val()
									},
							type : "POST",
							success: function (data) {
								if(data.userId == null || data.userId == '') {
									$("#idCheckYn").val("Y");
									swal("사용자ID 확인", "사용가능한 ID입니다.", "success");
								} else {
									$("#idCheckYn").val("N");
									swal("사용자ID 확인", "현재 사용중인 ID입니다.", "error");
								}
							},
							error: function (error) {
								swal("사용자ID 검증 실패", "일시적인 오류로 ID 검증에 실패하였습니다.", "warning");
							}
						});
					} else {
						swal("사용자ID 미입력", "사용자ID를 입력하시기 바랍니다.", "error");
						return false;
					}
					
				});
				
				// 휴대폰 인증
				$("#btnCheckPhone").click(function() {
					if($("#inpUserPhone").val() != null && $("#inpUserPhone").val() != '') {
						$.ajax({
							url  : "/login/checkPhone",
							data : {
										userPhone : $("#inpUserPhone").val()
									},
							type : "POST",
							success: function (data) {
								if(data.userId == null || data.userId == '') {
									$("#phoneCheckYn").val("Y");
									swal("휴대폰 인증", "회원가입 가능합니다.", "success");
								} else {
									$("#phoneCheckYn").val("N");
									swal("휴대폰 인증", "가입 이력이 있는 휴대폰입니다.", "error");
								}
							},
							error: function (error) {
								swal("휴대폰 인증 실패", "일시적인 오류로 휴대폰 인증에 실패하였습니다.", "warning");
							}
						});
					} else {
						swal("휴대폰 번호 미입력", "휴대폰 번호를 입력하시기 바랍니다.", "error");
						return false;
					}
					
				});
				
				
				// 회원가입
				$("#btnJoinSubmit").click(function() {
					swal({
						title : "회원가입",
						text : "회원가입 하시겠습니까?",
						icon : "info",
						buttons : ["취소", "확인"]
					})
					.then((value) => {
						if(value) {
							joinUser();
						}
					});
				});
			}
			
			function joinUser() {
				if(validationCheck()) {
					if($("#idCheckYn").val() != "Y" ) {
						inputCheck = false;
						
						swal("아이디 중복확인", "아이디 중복확인을 하시기 바랍니다.", "error");
						return false;
					} else if($("#phoneCheckYn").val() != "Y" ) {
						inputCheck = false;
						
						swal("휴대폰 인증", "휴대폰 인증을 하시기 바랍니다.", "error");
						return false;
					}
					
					$("#joinForm input[name=userId]").val($("#inpUserId").val());
					$("#joinForm input[name=userPassword]").val($("#inpUserPassword").val());
					$("#joinForm input[name=userName]").val($("#inpUserName").val());
					$("#joinForm input[name=userNickname]").val($("#inpUserNickname").val());
					$("#joinForm input[name=userBirth]").val($("#inpUserBirth").val());
					$("#joinForm input[name=userPhone]").val($("#inpUserPhone").val());
					$("#joinForm input[name=userEmail]").val($("#inpUserEmail").val() + "@" + $("#inpUserEmail2").val());
					
					$("#joinForm").ajaxForm({
						type		: 	"POST",
						dataType 	: 	"json",
						url 		: 	"/login/joinUser",
						success 	: 	function(data) {
											if(data.userNum != null && data.userNum > 0) {
												swal("회원가입 완료", "회원가입에 성공하였습니다. 로그인하여 사용하시기 바랍니다.", "success")
												.then((value) => {
													window.location.href = '/login/loginView';
												});
											} else {
												swal("회원가입 실패", "회원가입에 실패하였습니다.", "error");
											}
										},
						beforeSend	:	function(XMLHttpRequest) {
											XMLHttpRequest.setRequestHeader("AJAX", "Yes");
										},
						error		: 	function(XMLHttpRequest, textStatus, errorThrown){
											if (XMLHttpRequest.status == 403 || XMLHttpRequest.status == 207) {
												
											} else {
												swal("회원가입 실패", "회원가입에 실패하였습니다.", "error");
											}
										}
					}).submit();
				} else {
					return false;
				}
			}
			
			function validationCheck() {
				var inputCheck = false;
				
				if($(".joinFormAgree input[type=checkbox]").not(":checked").length > 0) {
					inputCheck = false;
					swal("약관동의", "필수 항목에 체크하시기 바랍니다.", "error");
				} else {
					var inputList = $("#joinInputForm").find(".required");
					
					inputList.each(function (idx, item) {
						if(item.value == null || item.value == '') {
							$(item).css("border", "2px solid #FF4848");
							$(item).parent("li").find(".divRequiredWarn").show();
							
							inputCheck = false;
						} else {
							$(item).css("border", "1px solid #E0E0E0");
							$(item).parent("li").find(".divRequiredWarn").hide();
							
							inputCheck = true;
						}
						
					});
					
					if($("#inpUserPassword").val() != $("#inpUserPassword2").val()) {
						swal("비밀번호 확인", "비밀번호 확인이 일치하지 않았습니다. 다시 입력해주세요.", "error");
						
						inputCheck = false;
					}
				}
				
				return inputCheck;
			}
	    </script>
    </th:block>
      
</html>