<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/contentsLayout}">
      
	<head>
		<title>Spring Boot - toy(로그인)</title>
	</head>
	
	<body layout:fragment="content">
	
		<div class="login_wrap">
			<div class="inner">
				<form class="login_form" method="post" action="/login/loginProcess">
					<ul>
						<li>
							<label for="userId" class="blind">사용자ID</label>
							<input type="text" id="userId" name="userId" class="form-control" placeholder="사용자ID" required="" autofocus="">
						</li>
						<li>
							<label for="userPassword" class="blind">사용자비밀번호</label>
							<input type="password" id="userPassword" name="userPassword" class="form-control" placeholder="사용자비밀번호" required="">
						</li>
					</ul>
					<button class="btn_common" type="submit">로그인</button>
				</form>
				<div class="login_util">
					<ul>
						<li>
							<a th:href="@{/login/findIdView}" >아이디 찾기</a>
						</li>
						<li>
							<a th:href="@{/login/resetPwView}" >비밀번호 재설정</a>
						</li>
						<li>
							<a th:href="@{/login/joinView}" class="linkJoin">회원가입</a>
						</li>
					</ul>
				</div>
				<div class="login_social">
					<ul>
						<li>
							<a id="btnNvLogin" class="btnNaver">네이버 로그인</a>
						</li>
						<li>
							<a id="btnKkLogin" class="btnKakao">카카오 로그인</a>
						</li>
						<li>
							<a id="btnGgLogin" class="btnGoogle">구글 로그인</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</body>
      
</html>