<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
	
	<head>
		<title>Spring Boot - toy22</title>
	</head>
	
	<body layout:fragment="content">
		<div class="content">
			<h3 class="form-signin-heading text-center mb-5">toy</h3>
			<h3 class="overview-normalize">사용자 ID</h3>
			<p>
				<span th:text="${userId}" ></span>
			</p>
			<hr/>
			<h3 class="overview-normalize">사용자 권한</h3>
			<p>
				<span th:text="${userRoles}" ></span>
			</p>
			<hr/>
			<h3 class="overview-normalize">역할에 따른 페이지 이동 권한 확인.</h3>
			<p>
				<button onclick="location.href='/admin/main'" class="btn btn-sm btn-success">관리자 설정 페이지(관리자만)</button>
				<button onclick="location.href='/user/main'" class="btn btn-sm btn-info">유저 설정 페이지(유저만)</button>
			</p>
			<hr/>
			<form method="post" action="/logout">
				<button class="btn btn-sm btn-danger btn-block" type="submit">로그아웃</button>
			</form>
		</div>
	</body>
	
</html>